## Read CSV iQos and upload to MySQL server

This script read a CSV, save it in "df" variable, clean it:

<ul>
    <li>COACH valorizzato</li>
<li>Motivazione: togli TELESURVEY PRIMO CONTATTO e NUMERO DI TELEFONO NON VALIDO</li>
<li>Controllo su Eta: deve essere compresa tra 18 e 100</li>
<li>Lead Time: deve essere tra 0 e 100 (Lead time= Data_Contatto-Data_Acquisto) </li>
<li>Accorcia Colonne troppo lunghe perchè non compatibili con MySQL</li>
   </ul>

## Load CSV and Riduce Columns Name

In [88]:
import pandas as pd
from sqlalchemy import create_engine

In [121]:
#CARICA E RENAME COLONNE troppo lunghe
df=pd.read_csv('Corto.csv',low_memory=False,encoding='utf-8')
df.rename(columns={'FONTE_IQOS_STORE___Il_rivenditore_ha_parlato_dei_vantaggi_della_registrazione_': 'Rivenditore_ha_parlato_vantaggi_registrazione', 
                   'FONTE_IQOS_STORE___La_qualità_dell_esperienza_in_IQOS_Store_è_stata_':'La_qualità_esperienza_in_IQOSStore_stata',
                   'TEMPORARY_STORE___sei_soddisfatto_del_prodotto__Lo_consiglieresti_agli_amici_': 'Sei_soddisfatto_del_prodotto__Lo_consiglieresti_agli_amici',
                  'FONTE_IQOS_STORE___Il_rivenditore_ha_comunicato_i_benefici_del_prodotto_':'Il_rivenditore_ha_comunicato_i_benefici_del_prodotto'}, inplace=True)

In [122]:
df.shape

(274944, 63)

In [123]:
#z=list(map(lambda x: len(x),df.columns))
#list(zip(df.columns,z))

## Formato Date

In [124]:
#Converti Data_Contatto e Data_Acquisto in datetime, così posso fare operazioni
df["Data_contatto"] = pd.to_datetime(df["Data_contatto"])
df["Data_Acquisto"] = pd.to_datetime(df["Data_Acquisto"])

## Seleziona date nuove per append alla table in MySQL server

In [125]:
start_date=pd.read_sql_query('SELECT Data_Contatto FROM iqos_table',con=engine,index_col=None).max()[0]
end_date=(pd.to_datetime('today') - pd.Timedelta('1 days'))
df=df[(df['Data_contatto'] > start_date) & (df['Data_contatto'] <= end_date)]

### Controllo Età

In [126]:
#Calcolo Eta e controllo che sia tra 0 e 100
df=df[df['Data_di_nascita'].notnull()]

In [127]:
df['Data_di_nascita'].unique()

array([], dtype=object)

In [128]:
t=lambda x:str(x).split('/')[2].split()[0]

try:
    val=df['Data_di_nascita'].apply(t).astype(int)
    df['Anno_Nascita']=val
except:
    print('Errore!')
    print(df['Data_di_nascita'])

df['Eta']=pd.to_datetime('today').year-df['Anno_Nascita']
df=df[df['Eta'].between(18, 100, inclusive=True)]

#Calcolo Lead Time
df["Lead_Time"] = (df["Data_contatto"] - df["Data_Acquisto"])

### Converti tutto in maiuscolo solo le colonne che contengono stringhe. I numeri lasciali numeri !

In [129]:
'''def Upper(col):
    if col.dtype=='O':
        return(col.astype(str).str.upper())
    else:
        return(col)
df=df.apply(lambda x: Upper(x))
'''

"def Upper(col):\n    if col.dtype=='O':\n        return(col.astype(str).str.upper())\n    else:\n        return(col)\ndf=df.apply(lambda x: Upper(x))\n"

## Tolgo Motivazione e Coach deve essere valorizzato e Risultat_contatto_Whatsapp deve essere valorizzato

In [130]:
df = df[(df['Coach']!='NAN') & (df['Coach'].notnull())]
df = df[(df['Risultato_contatto_Whatsapp'].notnull())&(df['Risultato_contatto_Whatsapp']!='NAN')]
df = df[~df['Motivazione'].isin(['TELESURVEY PRIMO CONTATTO', 'NUMERO DI TELEFONO NON VALIDO'])]

### Controllo Lead Time

In [131]:
#Controllo su valori di Lead Time
df = df[df['Lead_Time'].between('0 days', '100 days', inclusive=True)]

In [132]:
df['Lead_Time']=(df['Lead_Time'].apply(lambda x: str(x).split()[0])).astype(int)

### Discrepanza: utente non interagisce, ma troviamo in DB che utente è convertito.

In [101]:
Condition_no_viz=df['Risultato_contatto_Whatsapp'].isin(['Non ha visualizzato',])
Condition_conv_yes=df['Utente_Convertito']=='SI'
df = df[~(Condition_no_viz & Condition_conv_yes)]

### Correggi tipologia utente

In [102]:
df['TIPOLOGIA_UTENTE']=df['TIPOLOGIA_UTENTE'].str.replace('UTENTI DELAYED ','UTENTI DELAYED')

In [103]:
df=df[df['Data_contatto']<=(pd.to_datetime('today') - pd.Timedelta('1 days'))]

### Non interacting users non devono aver numero di messaggi più di 100, vanno eliminati

In [104]:
df['Numero_messaggi_scambiati']=pd.to_numeric(df['Numero_messaggi_scambiati'],errors='coerce')
df = df[df['Numero_messaggi_scambiati']<100]

In [105]:
Condition_no_viz=df['Risultato_contatto_Whatsapp'].isin(['NON HA VISUALIZZATO','HA VISUALIZZATO MA NON HA INTERAGITO'])
Cond_num_mess=df['Numero_messaggi_scambiati']>2
df=df[~(Condition_no_viz & Cond_num_mess)]

In [108]:
df

,Data_Follow_Up,Data_contatto,Progressivo_Follow_Up,Consumer,User_ID,Nome_Cognome,Numero_di_Telefono,CAP1,Data_di_nascita,Città1,...,Rivenditore_ha_parlato_vantaggi_registrazione,La_qualità_esperienza_in_IQOSStore_stata,FONTE_IQOS_STORE___note,Numero_messaggi_scambiati,Numero_messaggi_vocali,TIPOLOGIA_UTENTE,Sei_soddisfatto_del_prodotto__Lo_consiglieresti_agli_amici,Anno_Nascita,Eta,Lead_Time
288789,15/01/2018,2018-01-15,2,404500 - Emilian Predoi - Emilian1997@libero.it,404500,Emilian Predoi,3490946423,10155,2/17/1997 12:00:00 AM,Torino,...,NaN,NaN,NaN,1,NaN,NaN,NaN,1997,21,23
288897,15/01/2018,2018-01-15,2,406809 - FELICE GRASSO - FELICEGRASSO@TISCALI.IT,406809,FELICE GRASSO,3490575374,95047,12/9/1974 12:00:00 AM,PaternÃ²,...,NaN,NaN,NaN,1,NaN,NaN,NaN,1974,44,19
288947,15/01/2018,2018-01-15,2,406881 - ABRAMO GIANMARCO GRECO - gianmarco.gr...,406881,ABRAMO GIANMARCO GRECO,3492931112,73014,2/27/1972 12:00:00 AM,Gallipoli,...,NaN,NaN,NaN,1,NaN,NaN,NaN,1972,46,19
289002,15/01/2018,2018-01-15,2,408609 - Simone Rauafi - Raouafisimone@gmail.com,408609,Simone Rauafi,3249297040,25077,5/31/1999 12:00:00 AM,RoÃƒÂ¨ Volciano,...,NaN,NaN,NaN,2,NaN,NaN,NaN,1999,19,18
289005,15/01/2018,2018-01-15,2,179808 - ANTONELLA COPPI - kocca64@gmail.com,179808,ANTONELLA COPPI,3490909103,51100,4/30/1964 12:00:00 AM,Pistoia,...,NaN,NaN,NaN,2,NaN,NaN,NaN,1964,54,19
289159,15/01/2018,2018-01-15,2,408196 - laura ferroni - lauraferroni81@gmail.com,408196,laura ferroni,3282432663,10092,4/6/1981 12:00:00 AM,Beinasco,...,NaN,NaN,NaN,2,NaN,NaN,NaN,1981,37,18
289296,15/01/2018,2018-01-15,2,406254 - giulio sirolli - giulio.sirolli@gmail...,406254,giulio sirolli,3489602604,00165,5/15/1999 12:00:00 AM,Roma,...,NaN,NaN,NaN,2,NaN,NaN,NaN,1999,19,19
289339,15/01/2018,2018-01-15,2,404748 - Riccardo Pasciullo - ricpas76@gmail.com,404748,Riccardo Pasciullo,3207087738,66054,1/15/1976 12:00:00 AM,Vasto,...,NaN,NaN,NaN,2,NaN,NaN,NaN,1976,42,18
289387,15/01/2018,2018-01-15,2,403047 - SALVATORE CANOVA - salvatore.canova@y...,403047,SALVATORE CANOVA,3491348882,87046,6/2/1996 12:00:00 AM,Montalto Uffugo,...,NaN,NaN,NaN,1,NaN,NaN,NaN,1996,22,24
289388,15/01/2018,2018-01-15,2,407131 - patrizia del mondo - patrizia.delmond...,407131,patrizia del mondo,3388183091,NaN,10/18/1970 12:00:00 AM,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,1970,48,19
289495,15/01/2018,2018-01-15,2,405162 - Giuseppe Manuzza - Manuzzagiuseppe78@...,405162,Giuseppe Manuzza,3492885187,50053,4/24/1978 12:00:00 AM,Empoli,...,NaN,NaN,NaN,2,NaN,NaN,NaN,1978,40,22
289544,15/01/2018,2018-01-15,2,404437 - Michele Bocchio - Michelebocchio@gmai...,404437,Michele Bocchio,3489282890,10140,11/26/1998 12:00:00 AM,Torino,...,NaN,NaN,NaN,1,NaN,NaN,NaN,1998,20,23

## Upload to Server

In [107]:
engine = create_engine('mysql+pymysql://root:qJo8JzLS@192.168.13.100/iQos?charset=utf8', encoding="utf-8")
df.to_sql(con=engine, name='iqos_table', if_exists='append') #if_exists='replace' nel caso devi crearlo la prima volta

## Retrieve data from MySQL Server to local

In [109]:
Load=pd.read_sql_query('SELECT * FROM iqos_table',con=engine,index_col=None)

In [110]:
Load['Data_contatto'].max()

Timestamp('2018-01-15 00:00:00')

In [120]:
Load[Load['Data_contatto']=='2018-01-10']

Empty DataFrame
Columns: [index, Data_Follow_Up, Data_contatto, Progressivo_Follow_Up, Consumer, User_ID, Nome_Cognome, Numero_di_Telefono, CAP1, Data_di_nascita, Città1, Address1, Fonte_acquisto, Mail1, Tipo_Template, Agenzia, Genere, Coach, IQOS_Lover, Ha_iniziato_a_usare_Iqos, Tipo_di_Utilizzo, Utente_Convertito, Data_Registrazione_Consumatore, Note_FollowUp, Data_Acquisto, Data_Legame_Consumatore, DeviceCode, Codice_promo, Prodotto_kit, POS, Market_Research, Tipo_di_Acquisto, Classe_Gestione, Contatto_Lending, Nome_Informer, Stato, Motivazione, Risultato_contatto_Whatsapp, Utilizzo, PULIZIA, DOMANDE_SU_SALUTE, CONTENUTO_HTS, Perchè_non_ha_iniziato_a_usare_IQOS, VARIANTE_HTS_UTILIZZATA, GUSTO_ODORE, DURATA_BREVE, REPERIBILITA_, PROBLEMI_DI_SALUTE, USER_MEDIA_CONTENT_1, USER_MEDIA_CONTENT_2, FONTE_INFORMER___Feedback_su_informer, FONTE_INFORMER___Ha_interagito_con_informer_nei_15_giorni_, FONTE_INFORMER___Ha_Effettuato_la_prova_di_15_giorni_, Note, FONTE_INFORMERS___note, FONTE_IQOS_STORE___Ha_provato_prodotto_in_IQOStore_, Il_rivenditore_ha_comunicato_i_benefici_del_prodotto, Rivenditore_ha_parlato_vantaggi_registrazione, La_qualità_esperienza_in_IQOSStore_stata, FONTE_IQOS_STORE___note, Numero_messaggi_scambiati, Numero_messaggi_vocali, TIPOLOGIA_UTENTE, Sei_soddisfatto_del_prodotto__Lo_consiglieresti_agli_amici, Anno_Nascita, Eta, Lead_Time]
Index: []

[0 rows x 67 columns]

In [ ]:
import os
import paramiko

ssh = paramiko.SSHClient() 
ssh.load_host_keys(os.path.expanduser(os.path.join("~", ".ssh", "known_hosts")))
ssh.connect(server, username=username, password=password)
sftp = ssh.open_sftp()
sftp.put(localpath, remotepath)
sftp.close()
ssh.close()